# EDA

This notebook imports the data and explores the current format including visualizing the data.

In [1]:
# imports 
import pandas as pd 
import numpy as np 
import re

In [2]:
import os 
import sys

module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src import helpers as h

In [3]:
parent_dir = '../../'

In [4]:
df = pd.read_csv(parent_dir + 'data/weather_madrid_LEMD_1997_2015.csv', parse_dates = ['CET'])

In [5]:
df.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CET                          6812 non-null   datetime64[ns]
 1   Max TemperatureC             6810 non-null   float64
 2   Mean TemperatureC            6809 non-null   float64
 3   Min TemperatureC             6810 non-null   float64
 4   Dew PointC                   6810 non-null   float64
 5   MeanDew PointC               6810 non-null   float64
 6   Min DewpointC                6810 non-null   float64
 7   Max Humidity                 6810 non-null   float64
 8    Mean Humidity               6810 non-null   float64
 9    Min Humidity                6810 non-null   float64
 10   Max Sea Level PressurehPa   6812 non-null   int64
 11   Mean Sea Level PressurehPa  6812 non-null   int64
 12   Min Sea Level PressurehPa   6812 non-null   int64
 13   Max VisibilityKm            5872 non-null   float64
 14   Mean VisibilityKm           5872 non-null   float64
 15   Min VisibilitykM            5872 non-null   float64
 16   Max Wind SpeedKm/h          6812 non-null   int64
 17   Mean Wind SpeedKm/h         6812 non-null   int64
 18   Max Gust SpeedKm/h          3506 non-null   float64
 19  Precipitationmm              6812 non-null   float64
 20   CloudCover                  5440 non-null   float64
 21   Events                      1798 non-null   object
 22  WindDirDegrees               6812 non-null   int64
dtypes: datetime64[ns](1), float64(15), int64(6), object(1)
memory usage: 1.2+ MB

It looks like some of our column headers have preceding spaces which will get annoying.  There's also variability in how the column headers are named so I'm going to get all the column names in a more useable, pythonic form (all lowercase and underscores instead of spaces and no camel case):

In [7]:
df.columns = list(map(lambda x: h.make_pythonic(x), df.columns))

In [8]:
df.columns

Index(['cet', 'max_temperature_c', 'mean_temperature_c', 'min_temperature_c',
       'dew_point_c', 'mean_dew_point_c', 'min_dewpoint_c', 'max_humidity',
       'mean_humidity', 'min_humidity', 'max_sea_level_pressureh_pa',
       'mean_sea_level_pressureh_pa', 'min_sea_level_pressureh_pa',
       'max_visibility_km', 'mean_visibility_km', 'min_visibilityk_m',
       'max_wind_speed_km/h', 'mean_wind_speed_km/h', 'max_gust_speed_km/h',
       'precipitationmm', 'cloud_cover', 'events', 'wind_dir_degrees'],
      dtype='object')

Let me just manually change that one.........

In [12]:
df.rename(columns = {'min_visibilityk_m': 'min_visibility_km'}, inplace = True);

In [13]:
df.columns

Index(['cet', 'max_temperature_c', 'mean_temperature_c', 'min_temperature_c',
       'dew_point_c', 'mean_dew_point_c', 'min_dewpoint_c', 'max_humidity',
       'mean_humidity', 'min_humidity', 'max_sea_level_pressureh_pa',
       'mean_sea_level_pressureh_pa', 'min_sea_level_pressureh_pa',
       'max_visibility_km', 'mean_visibility_km', 'min_visibility_km',
       'max_wind_speed_km/h', 'mean_wind_speed_km/h', 'max_gust_speed_km/h',
       'precipitationmm', 'cloud_cover', 'events', 'wind_dir_degrees'],
      dtype='object')