## Working through Robert's Notebook:

### Imports:

In [3]:
import pandas as pd

In [4]:
parent_dir = '../'

### EDA:

In [5]:
df_raw = pd.read_csv(parent_dir + 'data/weather_madrid_LEMD_1997_2015.csv')
df_raw.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-1-2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-1-3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-1-4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-1-5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

Update the column names

In [6]:
rename_dict =  {'CET'                           :'date',
                'Max TemperatureC'              :'temperature_max',
                'Mean TemperatureC'             :'temperature',
                'Min TemperatureC'              :'temperature_min',
                'Dew PointC'                    :'dewpoint_max',
                'MeanDew PointC'                :'dewpoint',
                'Min DewpointC'                 :'dewpoint_min',
                'Max Humidity'                  :'humidity_max',
                ' Mean Humidity'                :'humidity',
                ' Min Humidity'                 :'humidity_min',
                ' Max Sea Level PressurehPa'    :'pressure_max',
                ' Mean Sea Level PressurehPa'   :'pressure',
                ' Min Sea Level PressurehPa'    :'pressure_min',
                ' Max VisibilityKm'             :'visibility_max',
                ' Mean VisibilityKm'            :'visibility',
                ' Min VisibilitykM'             :'visibility_min',
                ' Max Wind SpeedKm/h'           :'windspeed_max',
                ' Mean Wind SpeedKm/h'          :'windspeed',
                ' Max Gust SpeedKm/h'           :'gustspeed',      
                'Precipitationmm'               :'precipitation',
                ' CloudCover'                   :'cloudcover',
                ' Events'                       :'events',
                'WindDirDegrees'                :'winddirection',
                }

In [8]:
df_raw.rename(columns = rename_dict, inplace = True)

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 23 columns):
date               6812 non-null object
temperature_max    6810 non-null float64
temperature        6809 non-null float64
temperature_min    6810 non-null float64
dewpoint_max       6810 non-null float64
dewpoint           6810 non-null float64
dewpoint_min       6810 non-null float64
humidity_max       6810 non-null float64
humidity           6810 non-null float64
humidity_min       6810 non-null float64
pressure_max       6812 non-null int64
pressure           6812 non-null int64
pressure_min       6812 non-null int64
visibility_max     5872 non-null float64
visibility         5872 non-null float64
visibility_min     5872 non-null float64
windspeed_max      6812 non-null int64
windspeed          6812 non-null int64
gustspeed          3506 non-null float64
precipitation      6812 non-null float64
cloudcover         5440 non-null float64
events             1798 non-null object
winddirection      6812 non-null int64
dtypes: float64(15), int64(6), object(2)
memory usage: 1.2+ MB

Convert date column to datetime object

In [11]:
df_raw['date'] = pd.to_datetime(df_raw['date'])

In [14]:
type(df_raw.date[0])

pandas._libs.tslibs.timestamps.Timestamp